$def with (user)
<!DOCTYPE html>
<html>


	<head>
		<link href="https://Minimalist.coolcodersj.repl.co/nord" rel="stylesheet" type="text/css" />
		<title>Reflux Marketplace</title>
		<style>
			form {
				padding: 20px;
			}
		</style>
		<nav class="topnav">
  <a class="brand" href="/">Reflux Marketplace</a>
  <div class="topnavitem">
	  <a href="/">Home</a>
	  <a class="active" href="/add">Share a theme</a>
	  <a href="https://github.com/frissyn/Reflux">Reflux Github Repo</a>
	   <a href="/api">View the API Docs</a>
	   <a href="/generator">Theme Generator</a>
		<a href="https://github.com/CoolCoderSJ/Reflux-Marketplace">View on Github</a>
	   <a href="https://discord.com/api/oauth2/authorize?client_id=826087358096474132&permissions=0&scope=bot">Discord Bot</a>
  </div>
</nav>
	</head>

	<body>

		<form method="post" action = "add" enctype="multipart/form-data">

  <div class="form-group">
	<input type="username" class="input" id="short" name="person" value="$user" required disabled>
	<br>
	<input type="username" class="input" id="short" name="name" placeholder="Your Theme's Name" required>
	<br>
	<input type="username" class="input" id="short" name="desc" placeholder="Your Theme's Description" required>
	<br>
	<input type="url" class="input" id="short" name="code" placeholder="Your Theme's Repl URL" required>
	<br>
	<br>
	<label for="formFile" class="form-label">Upload a Screenshot showing replit with your theme</label><br>
	<input type="file" class="form-control inputadd" name="myfile" id="formFile" placeholder="Upload a Screenshot showing repl.it with your theme">

  </div>
	<br>
	<br>
  <button type="submit">Add</button>
</form>
	</body>
</html>
