$def with (error)
<link href="https://Minimalist.coolcodersj.repl.co/nord" rel="stylesheet" type="text/css" />
<title>SJAUTH -- Errors</title>

$if error == 1:
	<div class="alert alert-danger" role="alert">
	Account already exists.
	</div>
$elif error == 2:
	<div class="alert alert-danger" role="alert">
	Incorrect account details.
	</div>

$elif error == 3:
	<div class="alert alert-danger" role="alert">
	Account does not exist.
	</div>

$elif error == 4:
	<div class="alert alert-danger" role="alert">
	You are not an admin.
	</div>
