$def with (error)
<title>SJAUTH -- Errors</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://Minimalist.coolcodersj.repl.co/mjs"></script>

	<head>
		<link href="https://Minimalist.coolcodersj.repl.co/nord" rel="stylesheet" type="text/css" />
		<title>Reflux Marketplace</title>
		<style>
			form {
				padding: 20px;
			}
			body {
				margin-left: 150px;
			}
			.sidebari div {
				margin-top: 0px !important;
			}
			.sidebari i {
				margin-top: 40px !important;
			}
			.sidebar {
				padding-top: 20px !important;
			}
		</style>

<div class="sidebar" style="padding-top: 20px;">
		  <ul>
			  <a href="/">
			  <li>Reflux Marketplace</li>
			  </a>
			  <br>
			  <a href="/add">
			  <li>Share a theme</li>
			  </a>
			  <br>
			  <a href="https://github.com/frissyn/Reflux">
			  <li>Reflux Github Repo</li>
			  </a>
			  <br>
			  <a href="/api">
			  <li>View the API Docs</li>
			  </a>
			  <br>
			  <a href="/generator">
			  <li>Theme Generator</li>
			  </a>
			  <br>
			  <a href="https://github.com/CoolCoderSJ/Reflux-Marketplace">
			  <li>View on Github</li>
			  </a>
			  <br>
			  <a href="https://discord.com/api/oauth2/authorize?client_id=826087358096474132&permissions=0&scope=bot">
			  <li>Discord Bot</li>
			  </a>
			  <br>
		  </ul>
	  </div>

$if error == 1:
	<div class="alert alert-danger" role="alert">
	Account already exists.
	</div>
$elif error == 2:
	<div class="alert alert-danger" role="alert">
	Incorrect account details.
	</div>

$elif error == 3:
	<div class="alert alert-danger" role="alert">
	Account does not exist.
	</div>

$elif error == 4:
	<div class="alert alert-danger" role="alert">
	You are not an admin.
	</div>
