$def with (code, db, user)
<meta name="viewport" content="width=device-width, inital-scale=1">
<link rel="stylesheet" href="static/css/static.css">
<link rel="stylesheet"
	  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css">
				<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
				<script>hljs.initHighlightingOnLoad();</script>
<script src="static/js/script.js"></script>
<link href="https://Minimalist.coolcodersj.repl.co/nord" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://Minimalist.coolcodersj.repl.co/mjs"></script>

<title>Reflux Marketplace</title>
<nav class="topnav">
<a class="brand" href="/">Reflux Marketplace</a>
<div class="topnavitem">
<a href="/">Home</a>
<a href="/add">Share a theme</a>
$if user == "":
	<a href="/login">Login</a>
$else:
	<a href="/admin">Admin Panel</a>
<a href="https://github.com/frissyn/Reflux">Reflux Github Repo</a>
<a href="/api">View the API Docs</a>
<a href="/generator">Theme Generator</a>
<a href="https://github.com/CoolCoderSJ/Reflux-Marketplace">View on Github</a>
<a href="https://discord.com/api/oauth2/authorize?client_id=826087358096474132&permissions=0&scope=bot">Discord Bot</a>
</div>
</nav>

<style>
	.card-group {
  display: grid;
  grid-gap: 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
.card-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1fr;
  grid-template-columns: repeat(1, 1fr);
}
}
</style>
<div class="success" role="alert">
	  Sponsored by the creator of Reflux!
</div>
$if code == "1":
	<div class="success" role="alert">
		  Your theme has been submitted and is awaiting review!
	</div>
$elif code == "2":
	<div class="success" role="alert">
		  Your theme has been submitted and is awaiting review! (Due to a bug, just come back to the marketplace once it is approved to find your code.)
	</div>




<br><br>
<div class="card-group">

	$for theme in db:
		$if theme['verified'] == True:
			<div style="padding: 30px;">
			<div class="card" style="padding-bottom: 0px;">
				<form method="post" action="admin/edit">
				<img src="$theme['imgurl']" class="card-img-top" alt="preview" style="width: 450px;">
				<div class="card-body">
				<h5 class="card-title"><input class="input" value="$theme['name']" name="name"
					$if not "CoolCoderSJ" in user:
						disabled
					>
					<input class="input" value="$theme['creator']" name="creator"
						$if not "CoolCoderSJ" in user:
							disabled
						></h5>
				<input class="input" value="$theme['description']" name="desc"
					$if not "CoolCoderSJ" in user:
						disabled
					>
				<p class="card-text"><small class="text-muted"></small></p>
				</div>
				$if "CoolCoderSJ" in user:
					<input type="hidden" name="id" value="$theme['id']"/>
					<input type="file" class="form-control inputadd" name="myfile" id="formFile" placeholder="Upload a Screenshot showing repl.it with your theme">

							<br>
					<button type="submit" class="btn btn-primary" style="width: 100%">
					Edit
					</button>
				</form>

				<button type="button" class="btn btn-primary" modalid="t$theme['id']" onclick="modalshow(this)">
			See Code
			</button>
			<br><br>
			$if  "CoolCoderSJ" in user:
				<form method="POST" action="admin/delete">
				<input type="hidden" name="id" value="$theme['id']"/>
				<button type="submit" class="alert" style="width: 100%">
				Delete
				</button>
				</form>
				<form method="POST" action="admin/verify">
				<input type="hidden" name="id" value="$theme['id']"/>
				<button type="submit" class="btn btn-success" style="width: 100%">
				Verify
				</button>
				</form>
			</div>
			</div>
			<div id="t$theme['id']" class="modal-container">
				<center>
				<div class="modal" style="padding: 30px !important; height: 230%;">
					<h2 onclick="modalhide(document.getElementById('t$theme['id']'))" style="text-align: left;">&times;</h2>
					<h2 style="text-align: center">$theme['name']</h2>
					<hr>
					<br>
					<h2>JS Code for Bookmarklets</h2>
					<br>
					<button onclick="copy('js$theme['id']')" class="btn btn-primary">Copy to clipboard</button>
					<br>
					<pre id="$theme['id']">
						<code id="js$theme['id']" class="javascript"><br>$theme['code']
						</code>
					</pre>
					<br><br>
					<h2>Tampermonkey Script</h2>
					<br>
					<button onclick="copy('ts$theme['id']')" class="btn btn-primary">Copy to clipboard</button>
					<br>
					<pre id="$theme['id']">
						<code id="ts$theme['id']" class="javascript"><br>$theme['js_wa']
						</code>
					</pre>
					<script>
						function copy(textid) {
							let copyTextarea = document.getElementById(textid).textContent
							try {

							navigator.clipboard.writeText(copyTextarea)
							} catch(err) {
							alert(`Unable to copy, $${err}`);
							}
						}
					</script>
				</div>
				</center>
			</div>

</div>
