<!DOCTYPE html>
<html>
	<head>
		<title>Reflux Marketplace</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Reflux Marketplace</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/add">Share a theme</a>

	  <a class="nav-item nav-link" href="/api">View the API Docs</a>
	  <a class="nav-item nav-link" href="/generator">Theme Generator</a>
    </div>
  </div>
</nav>
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
		h1, h2, h3, h4, h5, h6, p, em, strong, li, a {
			font-family: "Nunito Sans", sans-serif;
		}
		a {
			color: #7289da;
		}
		hr {
			border: none;
			height: 1px;
			/* Set the hr color */
			color: #000; /* old IE */
			background-color: #000; /* Modern Browsers */
		}
	</style>

</body>
</html>
