
<!DOCTYPE html>
<html>
			<link rel="icon"
	  type="image/ico"
	  href="https://sjurl.tk/static/images/favicon.ico">

	<head>
		<link href="https://Minimalist.coolcodersj.repl.co/nord" rel="stylesheet" type="text/css" />

		<title>SJAUTH -- Login</title>
		<style>
			form {
				padding: 20px;
			}
		</style>
		<nav class="topnav">
		<a class="brand" href="/">Reflux Marketplace</a>
		<div class="topnavitem">
		<a href="/">Home</a>
		<a href="/add">Share a theme</a>
		<a href="https://github.com/frissyn/Reflux">Reflux Github Repo</a>
		<a href="/api">View the API Docs</a>
		<a href="/generator">Theme Generator</a>
		<a href="https://github.com/CoolCoderSJ/Reflux-Marketplace">View on Github</a>
		<a href="https://discord.com/api/oauth2/authorize?client_id=826087358096474132&permissions=0&scope=bot">Discord Bot</a>
		</div>
		</nav>
	</head>

	<body>
		<a href="/login/replit"><button>Login With Replit</button></a>
		<a href="/login/admin"><button>Admin Login</button></a>
	</body>
</html>
